body h2,
h4,
h5 {
    font-weight: bold;
}

.menu .logo {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.menu {
    align-items: center;
    background-color: #223333;
    color: #EEEEEE;
}

.menu li a {
    cursor: pointer;
    text-decoration: none;
    color: #EEEEEE;
}

.menu li a:hover {
    transform: scale(1.1);
}

.borderLeftRight {
    display: inline-block;
    position: relative;
    color: hsl(222, 25%, 14%);
}

.borderLeftRight::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #85C3FF;
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#home {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(/img/maquina-escrever.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#home h2 {
    color: #EEEEEE;
    text-decoration: underline;
}

#arrow {
    color: #FFFFFF;
}

#arrow:hover {
    color: #a7a7a7;
}

#biography,
#skills,
#experiences,
#education {
    padding-top: 60px;
}

.picture {
    border-radius: 8px;
    border: 4px solid #223333;
    position: relative;
    border-radius: 100%;
}

.social {
    list-style: none;
}

.social li {
    display: inline-block;
}

.social i {
    color: black;
}

.social i:hover {
    transform: scale(1.1);
}


/*.dropside {
    background-color: #14004d;
    color: #EEEEEE;
    padding: 16px;
    font-size: 16px;
    width: 288px;
    border: none;
    cursor: pointer;
}*/


/*.dropsideContent {
    display: none;
    position: absolute;
    background-color: #979797;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    height: 400px;
    border-radius: 6%;
}

.dropside p {
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 4px;
    margin-left: 8px;
}

.show {
    display: inline;
}*/


/*.adobe {
    position: relative;
    display: inline;
}*/

.topics h2 {
    text-align: center;
    padding: 24px;
}

.skill {
    background-color: rgba(175, 175, 175, 0.253);
    border-radius: 16px;
    margin: 12px;
    padding: 0;
}

.skill ul {
    list-style-type: none;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
}

.skill h4 {
    padding: 10px;
}

.skill p {
    margin-bottom: 4px;
}

.progress {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    border: 2px solid black;
}

.bar {
    width: 20%;
    height: 14px;
    background-color: #0085FF;
    margin: 0;
    padding: 0;
}

.change-color {
    color: rgba(128, 128, 128, 0.815);
}

#a-link {
    text-decoration: none;
}

#a-link:hover {
    color: rgb(200, 146, 250);
    text-decoration: underline;
}

.footer {
    position: absolute;
    width: 100%;
    background-color: #223333;
    text-align: center;
    color: #EEEEEE;
}